{% extends "base.twig" %}

{% block content %}
    <section class="error-404 not-found">
        <header class="page-header"></header>
        <section class="entry-content">
            <h1 class="page-title">
                Sorry, we couldn't find what you're looking for.
            </h1>
            {{function('get_Search_form')}}
        </section>
    </section>
{% endblock %}
